body{
    background-color: brown;
}
.aa{
    background-color: aqua;
    color: aliceblue;
    text-align: center;
}
.a{
background-color: bisque;
height: 950px;
}
.ss{
width: 150px;
}
.s{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
}
.kn{
    background-color: black;
    color: aliceblue;
    width: 150px;
height: 50px;
border-radius: 10px;
}